<%= simple_form_for(restaurant) do |f| %>
  <div class="form-group">
    <%= f.input :name, class: 'form-control' %>
    <%= f.input :address, class: 'form-control' %>
    <%= f.input :phone_number, class: 'form-control' %>
    <%= f.input :category, as: :select, collection: Restaurant::CATEGORY, include_blank: "Please select one", class: 'form-control' %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
